
/* Variáveis para controle de cores */
:root {
    --blue-dark: #070A4E;
    --blue-medium: #252872;
    --blue-light: #646693;
    --red: #E32934;
    --white: #ffffff;
    --black: #000000;
  }

  